*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* remove after completion */
body{
    background-color: red;
}
.main{
    background-color: blue;
}
.left{
    background-color: aqua;
}
.right{
    background-color: blanchedalmond;
}   
/* date default appearance remover */
input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}
/* code ends */
.main{
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
